@using DevExtreme.AspNet.Mvc;
@using TestingDEVDMSApplication.Entity
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions
{
	public string GetAntiXsrfRequestToken()
	{
		return Xsrf.GetAndStoreTokens(Context).RequestToken!;
	}
}

@model Customer;

@{
	ViewData["Title"] = "Home Page";
}

<partial name="_Header.cshtml" />

<section class="content" style="margin-top:-70px; position:relative; flex-direction: column;">
	<div class="container-fluid pb-1">
		<div class="card card-danger card-outline card-outline-tabss">
			<div class="card-header">
				<h3 class="card-title">Form</h3>
				<div class="card-tools">
					<button type="button" class="btn btn-tool" data-card-widget="collapse">
						<i class="fas fa-minus"></i>
					</button>
				</div>
			</div>

			<div class="card-body mb-3">
				<div class="mx-3 p-1">

					<div class="form-row">

						<h3 class="card-title">Indentitas</h3>
						<hr>

						<div class="col-md-12">
							<label for="code">
								Kode
							</label>
							<input type="text" asp-for="Code" class="form-control" id="code" placeholder="[Auto Generated]" disabled>
						</div>

						<div class="col-md-12" id="rowNama">
							<label for="name">Nama<span class="text-danger"> *</span></label>
							<input type="text" asp-for="Name" class="form-control" id="name" placeholder="Nama" oninput="this.value = this.value.toUpperCase()">
						</div>

						<div class="col-md-12" id="rowTglLahir">
							<label for="txtBirthdate">Tanggal Lahir<span class="text-danger"> *</span></label>
							@(Html.DevExtreme().DateBox()
														.Type(DateBoxType.Date)
														.DisplayFormat("dd MMMM yyyy")
														.ID("txtBirthdate")
														.Placeholder("Tanggal Lahir")
														.ElementAttr("class", "form-control")
														.Max(DateTime.Now.AddYears(-17))
														.Value(Model.BirthDate)
														)
						</div>

						<div class="col-md-12" id="rowBirthPlace">
							<label for="BirthPlace">Tempat Lahir<span class="text-danger"> *</span></label>
							<input type="text" asp-for="BirthPlace" class="form-control" id="BirthPlace" maxlength="50" required>
						</div>

						<div class="col-md-12" id="rowGender">
							<label for="GenderLookup">Gender<span class="text-danger"> *</span></label>
							@{
								var gender = new[] {
							new { value = "Male", text = "Laki - Laki" },
							new { value = "Female", text = "Perempuan" }
							};
							}
							@(Html.DevExtreme().Lookup()
														.DataSource(gender)
														.DropDownOptions(p => p.Title("Pilih Gender").HideOnOutsideClick(true))
														.Placeholder("Gender")
														.ID("GenderLookup")
														.ValueExpr("value")
														.DisplayExpr("text")
														.Value(Model.Gender)
														)
						</div>

						<div class="col-md-12" id="rowIsMarriage">
							<label class="control-label" for="chkIsMarriage">Menikah ?<span class="text-danger"> *</span></label>
							@(Html.DevExtreme().CheckBox()
														.ID("chkIsMarriage")
														.Text("Active")
														.Value(Model.IsMarriage)
														)
						</div>

						<div class="col-md-4" id="rowManyKids">
							<label class="control-label" for="ManyKids">Banyak Anak<span class="text-danger"> *</span></label>
							@(Html.DevExtreme().NumberBox().Format("#").ID("ManyKids")
														.ElementAttr("class", "form-control").Step(0).Value(Model.ManyKids))
						</div>

						<div class="col-md-12" id="rowEducation">
							<label for="EducationLookup">Edukasi<span class="text-danger"> *</span></label>
							@(Html.DevExtreme().Lookup()
														.DataSource(d => d.Mvc()
														.Controller("Customer")
														.LoadAction("GetEducation")
														.Key("ID")
														)
														.ID("EducationLookup")
														.Value(Model.EducationID)
														.DropDownOptions(p => p.Title("Pilih Edukasi").HideOnOutsideClick(true))
														.DisplayExpr(new JS("displayEdukasiLoookup"))
														.OnValueChanged("valueChangedEdukasiLoookup")
														.SearchExpr(new[] { "Name" })
														.ItemTemplate(
							@<text>
								<dl class="custom-item">
									<dt><%- Name %></dt>
								</dl>
							</text>)
														)
						</div>

					</div>

					<br />
					<div class="form-row">

						<h3 class="card-title">Indentitas Alamat</h3>
						<hr>

						<div class="col-md-12" id="rowPostalCode">
							<label for="PostalCode">Kode Postal Alamat<span class="text-danger"> *</span></label>
							<input type="text" asp-for="PostalCode" class="form-control" id="PostalCode" maxlength="10" required>
						</div>

						<div class="col-md-12" id="rowAddress">
							<label for="address"> Alamat<span class="text-danger"> *</span></label>
							<textarea id="address" asp-for="Address" class="form-control rounded-2" name="address" rows="5" cols="55" placeholder="Hanya untuk nama jalan saja" oninput="this.value = this.value.toUpperCase()"></textarea>
						</div>

						<div class="col-md-12" id="rowKepemilikan">
							<label for="KepemilikanLookup"> Kepemilikan<span class="text-danger"> *</span></label>
							@(Html.DevExtreme().Lookup()
														.DataSource(d => d.Mvc()
														.Controller("Customer")
														.LoadAction("GetKepemilikan")
														.Key("ID")
														)
														.ID("KepemilikanLookup")
														.Value(Model.OwnershipOfResidenceID)
														.DropDownOptions(p => p.Title("Pilih Kepemilikan").HideOnOutsideClick(true))
														.DisplayExpr(new JS("displayKepemilikanLoookup"))
														.OnValueChanged("valueChangedKepemilikanLoookup")
														.SearchExpr(new[] { "Name" })
														.ItemTemplate(
							@<text>
								<dl class="custom-item">
									<dt><%- Name %></dt>
								</dl>
							</text>)
														)
						</div>

						<div class="col-md-12" id="rowLamaMenempati">
							<label class="control-label" for="LamaMenempati">Lama Menempati<span class="text-danger"> *</span></label>
							@(Html.DevExtreme().NumberBox().Format(new JS("function (value) { return value === null ? '' : value + ' Tahun'; }")).ID("LamaMenempati")
														.ElementAttr("class", "form-control").Step(0).Value(Model.OccupiedTime))
						</div>

						<div class="col-md-12" id="rowAddressBerdasarkanBank">
							<label for="AddressBerdasarkanBank"> Alamat (Berdasarkan Bank)<span class="text-danger"> *</span></label>
							<textarea id="AddressBerdasarkanBank" asp-for="BankAddress" class="form-control rounded-2" name="address" rows="5" cols="55" placeholder="Hanya untuk nama jalan saja" oninput="this.value = this.value.toUpperCase()"></textarea>
						</div>
					</div>

					<br />
					<div class="form-row">

						<h3 class="card-title">Indentitas Pekerjaan</h3>
						<hr>

						<div class="col-md-12" id="rowKategoriPerushaan">
							<label for="KategoriPerushaanLookup">Kategori Perushaan<span class="text-danger"> *</span></label>
							@(Html.DevExtreme().Lookup()
														.DataSource(d => d.Mvc()
														.Controller("Customer")
														.LoadAction("GetKategoriPerushaan")
														.Key("ID")
														)
														.ID("KategoriPerushaanLookup")
														.Value(Model.CompanyCategoryID)
														.DropDownOptions(p => p.Title("Pilih Kategori Perushaan").HideOnOutsideClick(true))
														.DisplayExpr(new JS("displayKategoriPerushaanLoookup"))
														.OnValueChanged("valueChangedKategoriPerushaanLoookup")
														.SearchExpr(new[] { "Name" })
														.ItemTemplate(
							@<text>
								<dl class="custom-item">
									<dt><%- Name %></dt>
								</dl>
							</text>)
														)
						</div>

						<div class="col-md-12" id="rowJabatan">
							<label for="JabatanLookup">Jabatan<span class="text-danger"> *</span></label>
							@(Html.DevExtreme().Lookup()
														.DataSource(d => d.Mvc()
														.Controller("Customer")
														.LoadAction("GetJabatan")
														.Key("ID")
														)
														.ID("JabatanLookup")
														.Value(Model.DepartmentID)
														.DropDownOptions(p => p.Title("Pilih Jabatan").HideOnOutsideClick(true))
														.DisplayExpr(new JS("displayJabatanLoookup"))
														.OnValueChanged("valueChangedJabatanLoookup")
														.SearchExpr(new[] { "Name" })
														.ItemTemplate(
							@<text>
								<dl class="custom-item">
									<dt><%- Name %></dt>
								</dl>
							</text>)
														)
						</div>

						<div class="col-md-12" id="rowLamaBekerja">
							<label class="control-label" for="LamaBekerja">Lama Bekerja<span class="text-danger"> *</span></label>
							@(Html.DevExtreme().NumberBox().Format(new JS("function (value) { return value === null ? '' : value + ' Tahun'; }")).ID("LamaBekerja")
														.ElementAttr("class", "form-control").Step(0).Value(Model.WorkTime))
						</div>

						<div class="col-md-12" id="rowPendapatanTHP">
							<label class="control-label" for="PendapatanTHP">Pendapatan THP<span class="text-danger"> *</span></label>
							@(Html.DevExtreme().NumberBox().Format("Rp #,##0").ID("PendapatanTHP")
														.ElementAttr("class", "form-control").Step(0).Value((double)Model.EarningTHP))
						</div>
					</div>

					<br />
					<div class="form-row">

						<h3 class="card-title">Indentitas Bank</h3>
						<hr>

						<div class="col-md-12" id="rowRekeningBank">
							<label for="RekeningBank">Rekening Bank<span class="text-danger"> *</span></label>
							<div class="d-flex">
								<div class="col-md-4" id="rowIsTabungan">
									@(Html.DevExtreme().CheckBox()
																			.ID("chkIsTabungan")
																			.Text("Tabungan")
																			.Value(Model.IsTabungan)
																			)
								</div>

								<div class="col-md-4" id="rowIsGiro">
									@(Html.DevExtreme().CheckBox()
																			.ID("chkIsGiro")
																			.Text("Giro")
																			.Value(Model.IsGiro)
																			)
								</div>

								<div class="col-md-4" id="rowIsDeposito">
									@(Html.DevExtreme().CheckBox()
																			.ID("chkIsDeposito")
																			.Text("Deposito")
																			.Value(Model.IsDeposito)
																			)
								</div>
							</div>

						</div>

						<div class="col-md-12" id="rowSaldoPerBulannya">
							<label class="control-label" for="SaldoPerBulannya">Rata-rata saldo per bulannya<span class="text-danger"> *</span></label>
							@(Html.DevExtreme().NumberBox().Format("Rp #,##0").ID("SaldoPerBulannya")
														.ElementAttr("class", "form-control").Step(0).Value((double)Model.SaldoRate))
						</div>

						<div class="col-md-12" id="rowRecordPembayaranAngsuran">
							<label for="RecordPembayaranAngsuranLookup">Track record pembayaran angsuran<span class="text-danger"> *</span></label>
							@(Html.DevExtreme().Lookup()
														.DataSource(d => d.Mvc()
														.Controller("Customer")
														.LoadAction("GetRecordPembayaranAngsuran")
														.Key("ID")
														)
														.ID("RecordPembayaranAngsuranLookup")
														.Value(Model.RecordPaymentTrackID)
														.DropDownOptions(p => p.Title("Pilih track record pembayaran angsuran").HideOnOutsideClick(true))
														.DisplayExpr(new JS("displayRecordPembayaranAngsuranLoookup"))
														.OnValueChanged("valueChangedRecordPembayaranAngsuranLoookup")
														.SearchExpr(new[] { "Name" })
														.ItemTemplate(
							@<text>
								<dl class="custom-item">
									<dt><%- Name %></dt>
								</dl>
							</text>)
														)
						</div>

						<div class="col-md-12" id="rowTrackDataSLIK">
							<label for="TrackDataSLIKLookup">Track Data SLIK<span class="text-danger"> *</span></label>
							@(Html.DevExtreme().Lookup()
														.DataSource(d => d.Mvc()
														.Controller("Customer")
														.LoadAction("GetTrackDataSLIK")
														.Key("ID")
														)
														.ID("TrackDataSLIKLookup")
														.Value(Model.TrackDataSLIKID)
														.DropDownOptions(p => p.Title("Pilih Track Data SLIK").HideOnOutsideClick(true))
														.DisplayExpr(new JS("displayTrackDataSLIKLoookup"))
														.OnValueChanged("valueChangedTrackDataSLIKLoookup")
														.SearchExpr(new[] { "Name" })
														.ItemTemplate(
							@<text>
								<dl class="custom-item">
									<dt><%- Name %></dt>
								</dl>
							</text>)
														)
						</div>



						<div class="col-md-12" id="rowRekeningBank">
							<label for="PemilikanKartuKreditLookup">Kepemilikan Kartu Kredit<span class="text-danger"> *</span></label>
							@(Html.DevExtreme().Lookup()
														.DataSource(d => d.Mvc()
														.Controller("Customer")
														.LoadAction("GetPemilikanKartuKredit")
														.Key("ID")
														)
														.ID("PemilikanKartuKreditLookup")
														.Value(Model.PemilikanKartuKreditID)
														.DropDownOptions(p => p.Title("Pilih PemilikanKartuKredit").HideOnOutsideClick(true))
														.DisplayExpr(new JS("displayPemilikanKartuKreditLoookup"))
														.OnValueChanged("valueChangedPemilikanKartuKreditLoookup")
														.SearchExpr(new[] { "Name" })
														.ItemTemplate(
							@<text>
								<dl class="custom-item">
									<dt><%- Name %></dt>
								</dl>
							</text>)
														)
						</div>
					</div>

					<br />
					<div class="form-row">

						<h3 class="card-title">Indentitas Hutang</h3>
						<hr>

						<div class="col-md-12" id="rowTenor">
							<label class="control-label" for="Tenor">Tenor<span class="text-danger"> *</span></label>
							@(Html.DevExtreme().NumberBox().Format(new JS("function (value) { return value === null ? '' : value + ' Tahun'; }")).ID("Tenor")
														.ElementAttr("class", "form-control").Step(0).Value(Model.Tenor))
						</div>

						<div class="col-md-12" id="rowDebtServiceRatio">
							<label class="control-label" for="DebtServiceRatio">Debt Service Ratio<span class="text-danger"> *</span></label>
							@(Html.DevExtreme().NumberBox().Format(new JS("function (value) { return value === null ? '' : value + ' %'; }")).ID("DebtServiceRatio")
														.ElementAttr("class", "form-control").Step(0).Value(Model.DebtServiceRatio))
						</div>

					</div>

					<br />
					<div class="form-row">

						<h3 class="card-title">Indentitas Rumah</h3>
						<hr>

						<div class="col-md-12" id="rowHasilAppraisal">
							<label for="HasilAppraisal">Hasil Appraisal<span class="text-danger"> *</span></label>
							@{
								var HasilAppraisal = new[] {
							new { id = 0, text = "Tidak Direkomendasikan" },
							new { id = 1, text = "Marketable" },
							};
							}
							<div class="d-flex flex-wrap">
								@(Html.DevExtreme().RadioGroup()
															.ID("radioGroupHasilAppraisal")
															.Layout(Orientation.Horizontal)
															.DataSource(HasilAppraisal)
															.Value(Model.HasilAppraisal)
															.ValueExpr("id")
															.DisplayExpr("text")
															)
							</div>
						</div>

						<div class="col-md-12" id="rowLuasBangunan">
							<label class="control-label" for="LuasBangunan">Luas Bangunan<span class="text-danger"> *</span></label>
							@(Html.DevExtreme().NumberBox().Format(new JS("function (value) { return value === null ? '' : value + ' M2'; }")).ID("LuasBangunan")
														.ElementAttr("class", "form-control").Step(0).Value(Model.LuasBangun))
						</div>

						<div class="col-md-12" id="rowTujuanPembiayaan">
							<label for="TujuanPembiayaan">Tujuan dari Pembiayaan<span class="text-danger"> *</span></label>
							@(Html.DevExtreme().Lookup()
														.DataSource(d => d.Mvc()
														.Controller("Customer")
														.LoadAction("GetTujuanDariPembiayaan")
														.Key("ID")
														)
														.ID("TujuanDariPembiayaanLookup")
														.Value(Model.TujuanDariPembiayaanID)
														.DropDownOptions(p => p.Title("Pilih Tujuan Dari Pembiayaan").HideOnOutsideClick(true))
														.DisplayExpr(new JS("displayTujuanDariPembiayaanLoookup"))
														.OnValueChanged("valueChangedTujuanDariPembiayaanLoookup")
														.SearchExpr(new[] { "Name" })
														.ItemTemplate(
							@<text>
								<dl class="custom-item">
									<dt><%- Name %></dt>
								</dl>
							</text>)
														)
						</div>

						<div class="col-md-12" id="rowLTV">
							<label class="control-label" for="LTV">LTV<span class="text-danger"> *</span></label>
							@(Html.DevExtreme().NumberBox().Format(new JS("function (value) { return value === null ? '' : value + ' %'; }")).ID("LTV")
														.ElementAttr("class", "form-control").Step(0).Value(Model.LTV))
						</div>

					</div>
				</div>

				<div class="d-grid gap-2 d-md-flex justify-content-md-end">
					<div class="ml-2 mb-2 mt-3">
						<button type="submit" id="btnSave" class="btn btn-primary color-1">Simpan</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

@section Scripts {
	<script type="text/javascript" asp-append-version="true">

		var dt_Edukasi = 0;
		var dt_Kepemilikan = 0;
		var dt_KategoriPerushaan = 0;
		var dt_Jabatan = 0;
		var dt_RecordPembayaranAngsuran = 0;
		var dt_TrackDataSLIK = 0;
		var dt_PemilikanKartuKredit = 0;
		var dt_TujuanDariPembiayaan = 0;

		function displayEdukasiLoookup(item) {
			if (!item) {
				return "";
			}
			return item.Name;
		}

		function valueChangedEdukasiLoookup(e) {
			dt_Edukasi = e.component.option("selectedItem").ID;
			return dt_Edukasi;
		}

		function displayKepemilikanLoookup(item) {
			if (!item) {
				return "";
			}
			return item.Name;
		}

		function valueChangedKepemilikanLoookup(e) {
			dt_Kepemilikan = e.component.option("selectedItem").ID;
			return dt_Kepemilikan;
		}

		function displayKategoriPerushaanLoookup(item) {
			if (!item) {
				return "";
			}
			return item.Name;
		}

		function valueChangedKategoriPerushaanLoookup(e) {
			dt_KategoriPerushaan = e.component.option("selectedItem").ID;
			return dt_KategoriPerushaan;
		}

		function displayJabatanLoookup(item) {
			if (!item) {
				return "";
			}
			return item.Name;
		}

		function valueChangedJabatanLoookup(e) {
			dt_Jabatan = e.component.option("selectedItem").ID;
			return dt_Jabatan;
		}

		function displayRecordPembayaranAngsuranLoookup(item) {
			if (!item) {
				return "";
			}
			return item.Name;
		}

		function valueChangedRecordPembayaranAngsuranLoookup(e) {
			dt_RecordPembayaranAngsuran = e.component.option("selectedItem").ID;
			return dt_RecordPembayaranAngsuran;
		}

		function displayTrackDataSLIKLoookup(item) {
			if (!item) {
				return "";
			}
			return item.Name;
		}

		function valueChangedTrackDataSLIKLoookup(e) {
			dt_TrackDataSLIK = e.component.option("selectedItem").ID;
			return dt_TrackDataSLIK;
		}

		function displayPemilikanKartuKreditLoookup(item) {
			if (!item) {
				return "";
			}
			return item.Name;
		}

		function valueChangedPemilikanKartuKreditLoookup(e) {
			dt_PemilikanKartuKredit = e.component.option("selectedItem").ID;
			return dt_PemilikanKartuKredit;
		}

		function displayTujuanDariPembiayaanLoookup(item) {
			if (!item) {
				return "";
			}
			return item.Name;
		}

		function valueChangedTujuanDariPembiayaanLoookup(e) {
			dt_TujuanDariPembiayaan = e.component.option("selectedItem").ID;
			return dt_TujuanDariPembiayaan;
		}

		$("#btnSave").on('click', function (e) {
			var $button = $(this);
			e.preventDefault();
			$(".spinner").show();
			$button.prop('disabled', true);

			var dt_BirthDate = moment($("#txtBirthdate").dxDateBox("instance").option('value')).format("YYYY-MM-DD");
			var dt_Gender = $('#GenderLookup').dxLookup("instance").option("value");

			var dt_ManyKids = $('#ManyKids').dxNumberBox("instance").option("value");
			var dt_LamaMenempati = $('#LamaMenempati').dxNumberBox("instance").option("value");
			var dt_LamaBekerja = $('#LamaBekerja').dxNumberBox("instance").option("value");
			var dt_PendapatanTHP = $('#PendapatanTHP').dxNumberBox("instance").option("value");
			var dt_SaldoPerBulannya = $('#SaldoPerBulannya').dxNumberBox("instance").option("value");
			var dt_Tenor = $('#Tenor').dxNumberBox("instance").option("value");
			var dt_DebtServiceRatio = $('#DebtServiceRatio').dxNumberBox("instance").option("value");
			var dt_LuasBangunan = $('#LuasBangunan').dxNumberBox("instance").option("value");
			var dt_LTV = $('#LTV').dxNumberBox("instance").option("value");

			// dt_cashback = $('#txtCD').dxNumberBox("instance").option("value");
			// dt_optional = $('#txtTotalOptional').dxNumberBox("instance").option("value");
			// dt_totalDisc = $('#txtTotalDisc').dxNumberBox("instance").option("value");

			var datapost = {
				Name: $('#name').val(),
				BirthDate: dt_BirthDate,
				BirthPlace: $('#BirthPlace').val(),
				Gender: dt_Gender,
				PostalCode: $('#PostalCode').val(),
				Address: $('#address').val(),
				IsMarriage: $("#chkIsMarriage").dxCheckBox("instance").option("value"),
				ManyKids: dt_ManyKids,
				EducationID: dt_Edukasi,
				BankAddress: $('#AddressBerdasarkanBank').val(),

				OwnershipOfResidenceID: dt_Kepemilikan,
				OccupiedTime: dt_LamaMenempati,
				CompanyCategoryID: dt_KategoriPerushaan,
				DepartmentID: dt_Jabatan,

				WorkTime: dt_LamaBekerja,
				EarningTHP: dt_PendapatanTHP,
				IsTabungan: $("#chkIsTabungan").dxCheckBox("instance").option("value"),
				IsGiro: $("#chkIsGiro").dxCheckBox("instance").option("value"),
				IsDeposito: $("#chkIsDeposito").dxCheckBox("instance").option("value"),

				SaldoRate: dt_SaldoPerBulannya,
				RecordPaymentTrackID: dt_RecordPembayaranAngsuran,
				TrackDataSLIKID: dt_TrackDataSLIK,
				PemilikanKartuKreditID: dt_TrackDataSLIK,
				Tenor: dt_Tenor,
				DebtServiceRatio: dt_DebtServiceRatio,
				HasilAppraisal: $("#radioGroupHasilAppraisal").dxRadioGroup("instance").option("value"),
				LuasBangun: dt_LuasBangunan,
				TujuanDariPembiayaanID: dt_TujuanDariPembiayaan,
				LTV: dt_LTV
			}

			$.ajax({
				type: 'POST',
				dataType: 'JSON',
				url: '/Customer/UpdateCustomer',
				headers: { "RequestVerificationToken": "@GetAntiXsrfRequestToken()" },
				data: JSON.stringify(datapost),
				contentType: 'application/json; charset=utf-8',
				success: function (response) {
					$(".spinner").hide();
					$button.prop('disabled', false);

					alert("Customer berhasil disimpan");
				},
				error: function (xhr) {
					$(".spinner").hide();
					$button.prop('disabled', false);

					alert("Customer gagal disimpan");
				},
			});
		});
	</script>
}